<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About me</title>
	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>Semyon</strong> Orlov</h1>
			<span class="job-title">QA Engineer</span>
			<span class="email">altrueyst@mail.ru</span>

			<h1 class="lead">Thank you! I will get in touch with you shortly!</h1>
		</div>
	</div>
</head>
<body></body>
</html>
